/* Typography */

.block-title {
  @apply text-primaryText text-3xl font-bold tracking-normal;
}
.block-big-title {
  @apply text-primaryText text-4xl xl:text-5xl font-bold tracking-normal;
}
.block-subtitle {
  @apply text-xs text-secondaryColor  tracking-wider font-bold uppercase;
}
.content-title {
  @apply text-primaryText text-lg font-bold tracking-normal;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed;
}
.content-text-gray {
  @apply text-gray-400 text-base;
}

/* Borders */

.main-border-gray {
  @apply border border-solid border-mainBorder;
}
.main-border-gray-darker {
  @apply border border-solid border-mainBorderDarker;
}

/* Buttons */

.contained-button {
  @apply rounded-lg font-bold bg-primaryColor text-primaryText flex justify-center items-center hover:bg-[#7274f3] cursor-pointer transition;
}
.outlined-button {
  @apply text-primaryText main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3  border-gray-700 text-sm;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}


.font-grotesk{
  font-family: 'Space Grotesk', sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


.navbar-toggler{
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  outline: none !important;
  overflow: hidden;
  transition: 0.2s all ease;
  padding-left: 10px;
  position: relative;
  z-index: 2;
  box-shadow: none !important;
  border-radius: 50%;
  color: #fff;
  margin-right: -16px;
}

.navbar-toggler svg{
  cursor: pointer;
  transform: translate3d(-10px, -2px, 0) scale(1.4);
  width: 47px;
  height: 47px;
}

.navbar-toggler svg path{
  fill: none;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 22px;
  stroke-linecap: round;
  stroke: currentColor;
  stroke-dashoffset: 0px;
}

.navbar-toggler svg path#top,
.navbar-toggler svg path#bottom {
  stroke-dasharray: 240px 950px;
}

.navbar-toggler svg path#middle {
  stroke-dasharray: 240px 240px;
}

.navbar-toggler.expanded svg path#top,
.navbar-toggler.expanded svg path#bottom {
  stroke-dashoffset: -650px;
}

.navbar-toggler.expanded svg path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.gradient-border{
  background-color: linear-gradient(90deg, rgba(152, 189, 255, 0) 0%, rgb(152, 189, 255) 50%, rgba(152, 189, 255, 0) 100%);
}